/* Global Styles */
body {
  font-family: 'Open Sans', sans-serif;
  padding-top: 66px;
}

/* Index Styles */

h1.high-level {
  color: FF6B6B;
}

h1.display-3 {
  color: 663C70;
}

p.body-text {
  color: 594F4F;
}

p.lead-index {
  color: fcfcfc;
}

p.font-weight {
    color: fcfcfc;
}

div.jb-index {
    background-image: url("takeoff_cropped.jpg");
    background-color: #17234E;
    margin-bottom: 30;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-top: 15px;
}

img.ops {
  width: 80%;
  padding: 1px;
  padding-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.form-group {
  padding-left: 0px;
  padding-top: 50px;
}

button.type {
  margin-bottom: 10px;
}

i.fas {
  padding 100px;
}

div.ops {
  padding-right:20px;
  border-right: 1px solid #ccc;
}

/* Features Styles */

/* Pricing Styles */
div.jb-pricing {
    background-image: url("zen.jpeg");
    background-color: #17234E;
    margin-bottom: 0;
    min-height: 45%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 15px;
    padding-top: 15px;
}

h1.plan-name {
  padding-top: 30px;
  color: FF6B6B;
}

h5.monthly-price {
  color: 663C70;
  padding-bottom: 15px;
}

ul.features {
  display: inline-block;
  text-align:left;
}

h1.display-4 {
    color: 663C70;
}

p.lead {
  color: 594F4F;
}

li.features {
   margin:0 0 10px 0;
}

div.plan {
  padding-right:20px;
  border-right: 1px solid #ccc;
  margin-top: 30px;
}

button.trial {
  border-color: 663C70;
  border-width: 2 PX;
  color: 594F4F;
}
