body {
  font-family: 'Open Sans', sans-serif;
}

h1.high-level {
  color: FF6B6B;
}

h1.display-3 {
  color: 663C70;
}

p.body-text {
  color: 594F4F;
}

p.lead {
  color: fcfcfc;
}

p.font-weight-bold {
    color: fcfcfc;
}

div.jumbotron {
    background-image: url("takeoff_cropped.jpg");
    background-color: #17234E;
    margin-bottom: 30;
    min-height: 50%;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    background-size: cover;
    padding-bottom: 10px;
}

img.ops {
  width: 80%;
  padding: 1px;
  padding-top: 40px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

div.form-group {
  padding-left: 0px;
  padding-top: 50px;
}

button.type {
  margin-bottom: 10px;
}

i.fas {
  padding 100px;
}
